<!
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Tabela de Marcas</title>
</head>
<body>
<h1>Lista de Marcas</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each = "marca: ${marcas}">
        <td th:text="${marca.id}"></td>
        <td th:text="${marca.nome}"></td>
        <td>
            <a>Alterar</a>
            <a>Deletar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>